{% extends 'base.html' %}

{% block title %}Add Device{% endblock %}

{% block content %}
<div class="container">
    <h1>Добавить устройство</h1>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.device_type.label_tag }}
            {{ form.device_type }}
        </div>
        <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <button type="submit" class="button">Добавить устройство</button>
    </form>
    <div class="btnA">
        <a style="margin-top: 20px;" href="{% url 'device_list' %}"><button>Вернуться к списку устройств</button></a>
    </div>
</div>
{% endblock %}
