<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IoT Dashboard{% endblock %}</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <div class="logo">
        <h1>IoT Dashboard</h1>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'device_list' %}">Устройства</a></li>
            <li><a href="{% url 'add_device' %}">Добавить устройство</a></li>
            {% if user.is_authenticated %}
                    <li>
                        <form style="
    background: none;
    border: none;
    padding: 0;
" method="post" action="{% url 'logout' %}" class="logout-form">
                            {% csrf_token %}
                            <button type="submit" class="login-btn"><i class="fas fa-sign-out-alt"
                                                                       class="login-btn"></i> Logout
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p>&copy; 2024 Панель управления Интернетом вещей. Все права защищены.</p>
</footer>
</body>
</html>
